<div class="container d-flex justify-content-center text-align-center bg-light">
  <main >
    <p class="devinfo-container">
      <span class="error-code"><strong>404</strong>: NOT_FOUND</span>
      <span class="devinfo-line d-block">Code: <code>NOT_FOUND</code></span>
      <span class="devinfo-line"
        >ID: <code>fra1::qx6wp-1733262033631-875433f70c93</code></span
      >
    </p>
    <a
      href="https://vercel.com/docs/errors/platform-error-codes#not_found"
      class="owner-error"
      ><div class="note">
        Read our documentation to learn more about this error.
      </div></a
    >
  </main>
</div>
