<div class="container">
  <h6 class="mb-4">EXPERIENCE</h6>
  <h2 class="mb-4">Work Experience</h2>
  <div class="timeline">
    <!-- Full Stack Developer -->
    <div class="timeline-item">
      <div class="timeline-icon bg-primary text-white">
        <i class="fa-solid fa-pencil"></i>
      </div>
      <div class="timeline-content">
        <h4>Full Stack Developer <span class="text-muted">2017-2018</span></h4>
        <p>
          Tolerably earnestly middleton extremely distrusts she boy now not. Add
          and offered prepare how cordial two promise. Greatly who affixed
          suppose but enquire compact prepare all put. Added forth chief trees
          but rooms think may.
        </p>
      </div>
    </div>
    <!-- Front End Developer -->
    <div class="timeline-item">
      <div class="timeline-icon bg-danger text-white">
        <i class="fa-solid fa-pencil"></i>
      </div>
      <div class="timeline-content">
        <h4>
          Front End Developer at Google Company
          <span class="text-muted">2017-2018</span>
        </h4>
        <p>
          Even the all-powerful Pointing has no control about the blind texts it
          is an almost unorthographic life One day however a small line of blind
          text by the name of Lorem Ipsum decided to leave for the far World of
          Grammar.
        </p>
      </div>
    </div>
    <!-- System Analyst -->
    <div class="timeline-item">
      <div class="timeline-icon bg-warning text-white">
        <i class="fa-solid fa-pencil"></i>
      </div>
      <div class="timeline-content">
        <h4>System Analyst <span class="text-muted">2017-2018</span></h4>
        <p>
          Even the all-powerful Pointing has no control about the blind texts it
          is an almost unorthographic life One day however a small line of blind
          text by the name of Lorem Ipsum decided to leave for the far World of
          Grammar.
        </p>
      </div>
    </div>
  </div>
</div>
