.content{
  width: 80%;
  margin: auto;
  padding: 30px 0px;
}
a{
  text-decoration: none;
}
.content h6{
  font-size: 10px;
  text-transform: uppercase;
  color: #999;
  font-weight: 500;
  letter-spacing: 5px;
}
.container-card{
  width: 80% !important; 
  margin: auto;
}
.card{
  width: 48%; 
  margin: 10px 0px;
  height: 400px;
  background-size: cover;
  border: none;
}
.card1{
  background-image: url(./../../assets/imgs/img-1-C4nS0eD8.jpg);
}
.card2{
  background-image: url(./../../assets/imgs/img-2-D-4H1m4L.jpg);
}
.card3{
  background-image: url(./../../assets/imgs/img-3-pR2ZEVY9.jpg);
}
.card4{
  background-image: url(./../../assets/imgs/img-4-tHccITd-.jpg);
}

@media screen and (max-width: 600px) {
  .container-card div {
    flex-direction: column;
  }
  .card{
    width: 100%;
  }
}