<section class="content">
  <h6>MY SPECIALTY</h6>
  <h1>MY SKILLS</h1>
  <p class="description">
    The Big Oxmox advised her not to do so, because there were thousands of bad
    Commas, wild Question Marks and devious Semikoli, but the Little Blind Text
    didn’t listen. She packed her seven versalia, put her initial into the belt
    and made herself on the way.
  </p>
  <div class="container-skills">
    <div class="skills">
      <div class="skill">
        <span class="skill-name">Photoshop</span>
        <div class="skill-bar">
          <div class="skill-progress photoshop"></div>
        </div>
        <div class="percentage">75%</div>
      </div>
      <div class="skill">
        <span class="skill-name">HTML5</span>
        <div class="skill-bar">
          <div class="skill-progress html"></div>
        </div>
        <div class="percentage">85%</div>
      </div>
      <div class="skill">
        <span class="skill-name">WordPress</span>
        <div class="skill-bar">
          <div class="skill-progress wordpress"></div>
        </div>
        <div class="percentage">70%</div>
      </div>
    </div>
    <div class="skills">
      <div class="skill">
        <span class="skill-name">jQuery</span>
        <div class="skill-bar">
          <div class="skill-progress jquery"></div>
        </div>
        <div class="percentage">60%</div>
      </div>
      <div class="skill">
        <span class="skill-name">CSS3</span>
        <div class="skill-bar">
          <div class="skill-progress css"></div>
        </div>
        <div class="percentage">90%</div>
      </div>
      <div class="skill">
        <span class="skill-name">SEO</span>
        <div class="skill-bar">
          <div class="skill-progress seo"></div>
        </div>
        <div class="percentage">80%</div>
      </div>
    </div>
  </div>
</section>
