<div class="aside">
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0 d-flex flex-column">
          <li>
            <div class="imgSide">
            </div>
            <h1 class="sidebarUsername text-center"><a href="#">Jackson Ford</a></h1>
            <p class="sidebarUserinfo text-center"><a href="#">UI/UX/Designer</a>
               in Philippines</p>
          </li>
          <li class="">
            <a class="nav-link text-center active" routerLinkActive="activenav" routerLink="home">HOME</a>
          </li>
          <li class="">
            <a class="nav-link text-center" routerLinkActive="activenav" routerLink="about">ABOUT</a>
          </li>
          <li class="">
            <a class="nav-link text-center" routerLinkActive="activenav" routerLink="skills">SKILLS</a>
          </li>
          <li class="">
            <a class="nav-link text-center" routerLinkActive="activenav" routerLink="experience">EXPERIENCE</a>
          </li>
          <li class="">
            <a class="nav-link text-center" routerLinkActive="activenav" routerLink="work">WORK</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</div>