.carousel-item1 {
    width: 100%;
    height: 100vh;
    background-image: url(./../../assets/imgs/img_bg_1-PzvG2r05.jpg);
}
.carousel-item2 {
    width: 100%;
    height: 100vh;
    background-image: url(./../../assets/imgs/img_bg_2-DzCs5o-0.jpg);
}